<html>
<head>
  <title>{% block title %}Calculate Days Gone!{% endblock %}</title>
  <style>
    h1 {
      font-size: 1.5rem;
    }
    ul li{
      list-style: none;
    }
    .errorlist {
      color: red;
    }
    th {
      text-align: right;
      padding-right: 0.6rem;
    }
    small {
      font-size: 0.8rem;
    }
    #result-data {
      font-size: 1.3rem;
    }
    {% block extra_style %}{% endblock %}
  </style>

  {% block extra_head %}{% endblock %}
</head>

<body>
  <div id="content">
    {% block content %}{% endblock %}
  </div>
  {% block extra_js %}{% endblock %}
</body>
</html>
