{% extends 'days/base_days.html' %}

{% block content %}
  <h1>Calculate days gone!</h1>

  <form method="POST" id="days-gone-form">{% csrf_token %}
    <table>
      <tr>
        <th></th>
        <td>{{ form.non_field_errors }}</td>
      </tr>
      {% for field in form %}
        <tr>
          <th>{{ field.label }}</th>
          <td class="form-field">{{ field }}</td>
          <td>{{ field.errors }}</td>
        </tr>
        <tr>
          <th></th>
          <td><small><em>{{ field.help_text }}</em></small></td>
        </tr>
      {% endfor %}
      <tr>
        <th></th>
        <td>
          {% if result_data %}
            <a href=''><input type="button" value="Reset" id="reset-button" /></a>
          {% else %}
            <input type="submit" id="form-submit" />
          {% endif %}
        </td>
      </tr>
    </table>

  </form>

  {% if result_data %}
    <table id="result-data">
      <tr>
        <th>Days Gone</th>
        <td>{{ result_data.days_gone }}</td>
      </tr>
    </table>
  {% endif %}
{% endblock content %}

{% block extra_js %}
  {% if result_data %}
    <script type="text/javascript">
      window.onload = function() {
        for (i = 0, fieldRows = document.getElementsByClassName('form-field'), len = fieldRows.length;
             i < len;
             i++) {
          row = fieldRows[i];
          for (j = 0, inputs = row.getElementsByTagName('input'), rowLength = inputs.length, j < rowLength;
               j < rowLength;
               j++) {
            input = inputs[j];
            input.disabled = true;
          }
        }
      }

    </script>
  {% endif %}
{% endblock extra_js %}
