{% extends 'days/base_days.html' %}

{% block content %}

  <h1>Calculate Multiple Trips!</h1>
  <h4>More specific header</h4>
  <p>Form for N-400 date. That should be entered before any other dates, and displayed here after that.</p>
  <form method="POST" id="days-gone-form">{% csrf_token %}
    <table>
      <tr>
        <th></th>
        <td>{{ form.non_field_errors }}</td>
      </tr>
      {% for field in form %}
        <tr>
          <th>{{ field.label }}</th>
          <td class="form-field">{{ field }}</td>
          <td>{{ field.errors }}</td>
        </tr>
        <tr>
          <th></th>
          <td><small><em>{{ field.help_text }}</em></small></td>
        </tr>
      {% endfor %}
      <tr>
        <th></th>
        <td>
          {% if trips_so_far %}
            <input type="submit" name="submit" value="reset" id="reset-button" />
          {% endif %}
          <input type="submit" name="submit" value="submit" id="form-submit"/>
        </td>
      </tr>
    </table>
  </form>

  {% if trips_so_far %}
    <table id="result-data">
      <tr>
        <th>Departure Date</th>
        <th>Return Date</th>
        <th>Days Gone</th>
      </tr>
    {% for trip in trips_so_far %}
      <tr>
        <td>{{ trip.departure_date }}</td>
        <td>{{ trip.return_date }}</td>
        <td>{{ trip.days_gone }}</td>
      </tr>
    {% endfor %}
      <tr class="sum-row">
        <th colspan="2">Total Days Gone:</th>
        <td class="sum-cell">{{ total_days_gone }}</td>
      </tr>
      <tr>
    </tr>
    </table>
    This should also say "fulfilled physical presence requirement" if the total days is fewer than 2.5years. (913 days?)
  {% endif %}
 {% endblock content %}
