{% extends 'days/n400_base.html' %}

{% block n400_content %}
  <p>Enter dates below for N-400 submitted <strong>{{ submission_date }}</strong>.</p>
  <ul>
    <li>Each trip entered will appear below with the number of days gone.</li>
    <li>The total days gone will be displayed at the bottom of the list.</li>
    <li>Trips that are more than 180 days will appear in red to alert possible finding of abandonment.</li>
    <li>Totals exceeding maximum allowed under physical presence requirements will be marked as such.</li>
  </ul>
  <form method="POST" id="days-gone-form">{% csrf_token %}
    <table>
      <tr>
        <th></th>
        <td>{{ form.non_field_errors }}</td>
      </tr>
      {% for field in form %}
        <tr>
          <th>{{ field.label }}</th>
          <td class="form-field">{{ field }}</td>
          <td>{{ field.errors }}</td>
        </tr>
        <tr>
          <th></th>
          <td><small><em>{{ field.help_text }}</em></small></td>
        </tr>
      {% endfor %}
      <tr>
        <th></th>
        <td>
          <input type="submit" name="submit" value="submit" id="form-submit"/>
          <input type="submit" name="submit" value="reset" id="reset-button" />
        </td>
      </tr>
    </table>
  </form>

  {% if trips_so_far %}
    <div id="result-data">
      <table>
        <tr>
          <th class="head-row">Departure Date</th>
          <th class="head-row">Return Date</th>
          <th class="head-row">Days Gone</th>
        </tr>
        {% for trip in trips_so_far %}
          <tr>
            <td>{{ trip.departure_date }}</td>
            <td>{{ trip.return_date }}</td>
            <td{% if trip.days_gone >= single_trip_alert_length %} class="alert"{% endif %}>
              {{ trip.days_gone }}{% if trip.days_gone >= single_trip_alert_length %} (Note: possible finding of abandonment) {% endif %}
            </td>
          </tr>
        {% endfor %}
        <tr class="sum-row">
          <th colspan="2">Total Days Gone:</th>
          <td class="sum-cell">{{ total_days_gone }}</td>
        </tr>
        {% if total_days_gone != statutory_days_gone %}
          <tr class="sum-row">
            <th colspan="2">Days Gone within Statutory Period:</th>
            <td> {{ statutory_days_gone }}</td>
          </tr>
        {% endif %}
          <tr>
            <th colspan="2">Days Present within Statutory Period:</th>
            <td class="{% if statutory_days_present < minimum_days_present %}alert{% else %}good-news{% endif %}">{{ statutory_days_present }}</td>
          </tr>
      </table>
      {% if statutory_days_present < minimum_days_present %}
        <p class="alert announcement">For the above entered dates, this application does not meet the minimum number of required days present during the statutory period.</p>
      {% else %}
        <p class="good-news announcement">For the above entered dates, this application meets the minimum number of required days present during the statutory period.</p>
      {% endif %}
    </div>
  {% endif %}

{% endblock n400_content %}
